<section id="speakers" class="wow fadeInUp">

  <div class="container">
  <h1> Our Recent Township Tours<h1>
    <% township_index.all.in_groups_of(3, false).each do |up_coming|%>
      <div class="row" style="background:red">
        <% up_coming.each do |township_image| %>
          <div class="col-lg-4 col-md-6">
            <div class="speaker">
              <%= link_to township_path(township_image) do %>
   <%= image_tag(township_image.image.url(:medium), alt:"Speaker 1", class:"img-fluid") %>
<% end %>
              <div class="details">
                <h3><%= township_image.title %></a></h3>
                <div class="social">
                  <a href=""><i class="fa fa-twitter"></i></a>
                  <a href=""><i class="fa fa-facebook"></i></a>
                  <a href=""><i class="fa fa-google-plus"></i></a>
                  <a href=""><i class="fa fa-linkedin"></i></a>
                </div>
              </div>
            </div>
          </div>
        <% end%>
      </div>
    <% end%>
    <%= link_to "View All", townships_path %>
  </div>
</section>
