<section id="speakers" class="wow fadeInUp">

  <div class="container">
  <h1> Our recent city Tours<h1>
    <% city_suburbs_index.all.in_groups_of(3, false).each do |city_sub|%>
      <div class="row" style="background:red">
        <% city_sub.each do |city_image| %>
          <div class="col-lg-4 col-md-6">
            <div class="speaker">
              <%= link_to citysuburb_path(city_image) do %>
   <%= image_tag(city_image.image.url(:medium), alt:"Speaker 1", class:"img-fluid") %>
<% end %>
              <div class="details">
                <h3><%= city_image.title %></a></h3>
                <div class="social">
                  <a href=""><i class="fa fa-twitter"></i></a>
                  <a href=""><i class="fa fa-facebook"></i></a>
                  <a href=""><i class="fa fa-google-plus"></i></a>
                  <a href=""><i class="fa fa-linkedin"></i></a>
                </div>
              </div>
            </div>
          </div>
        <% end%>
      </div>
    <% end%>
    <%= paginate city_suburbs_index %>
  </div>
</section>
